ansicon
blessed
blinker
click
colorama
contourpy
cycler
distlib
easygui
editor
filelock
Flask
Flask-MySQL
Flask-MySQLdb
Flask-SQLAlchemy
fonttools
greenlet
imageio
inquirer
itsdangerous
Jinja2
jinxed
joblib
kiwisolver
MarkupSafe
matplotlib
mysql
mysql-connector
mysqlclient
numpy
opencv-python
packaging
pandas
Pillow
platformdirs
PyMySQL
pyparsing
python-dateutil
pytz
readchar
runs
scikit-learn
scipy
six
SQLAlchemy
threadpoolctl
typing_extensions
tzdata
virtualenv
virtualenvwrapper-win
wcwidth
Werkzeug
xmod
gunicorn
